<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="selectedProduct" value="" />
    <add key="dbrDefaultTemplate" value="" />
    <add key="dbrDecodeType" value="" />
    <add key="dbrX64DllPath" value="" />
    <add key="dbrX86DllPath" value="" />
    <add key="dbrUseServerConfig" value="" />
    <add key="dbrServerConfig" value="" />
    <add key="dbrStandardVersion" value="" />
    <add key="dlrDefaultTemplate" value="" />
    <add key="dlrDecodeType" value="" />
    <add key="dlrX64DllPath" value="" />
    <add key="dlrX86DllPath" value="" />
    <add key="dlrUseServerConfig" value="" />
    <add key="dlrServerConfig" value="" />
    <add key="dlrStandardVersion" value="" />
    <add key="ddnDefaultTemplate" value="" />
    <add key="ddnDecodeType" value="" />
    <add key="ddnX64DllPath" value="" />
    <add key="ddnX86DllPath" value="" />
    <add key="ddnUseServerConfig" value="" />
    <add key="ddnUseServerConfig" value="" />
    <add key="ddnStandardVersion" value="" />
    
    <add key="scanditDecodeType" value="" />
    <add key="scanditX64DllPath" value="" />
    <add key="scanditX86DllPath" value="" />
    <add key="scanditUseServerConfig" value="" />
    <add key="scanditUseServerConfig" value="" />
    <add key="scanditStandardVersion" value="" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>