<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="selectedProduct" value=""/>
    
    <add key="dbrDefaultTemplate" value=""/>
    <add key="dbrDecodeType" value=""/>
    <add key="dbrX64DllPath" value=""/>
    <add key="dbrX86DllPath" value=""/>
  
    <add key="dlrDefaultTemplate" value=""/>
    <add key="dlrDecodeType" value=""/>
    <add key="dlrX64DllPath" value=""/>
    <add key="dlrX86DllPath" value=""/>
  
    <add key="dcnDefaultTemplate" value=""/>
    <add key="dcnDecodeType" value=""/>
    <add key="dcnX64DllPath" value=""/>
    <add key="dcnX86DllPath" value=""/>
  </appSettings>
</configuration>