<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="selectedTab" value=""/>
    <add key="conclusionPath" value=""/>
    <add key="resultPath" value=""/>
    <add key="dllPath" value=""/>
    <add key="crashPath" value=""/>
    <add key="dbrPicturePath" value=""/>
    <add key="dbrTemplatePath" value=""/>
    <add key="dbrX64ProgramPath" value=""/>
    <add key="dbrX86ProgramPath" value=""/>
    <add key="dbrStdVersionPath" value=""/>

    <add key="dlrPicturePath" value=""/>
    <add key="dlrTemplatePath" value=""/>
    <add key="dlrX64ProgramPath" value=""/>
    <add key="dlrX86ProgramPath" value=""/>
    <add key="dlrStdVersionPath" value=""/>
    
    <add key="dcnPicturePath" value=""/>
    <add key="dcnTemplatePath" value=""/>
    <add key="dcnX64ProgramPath" value=""/>
    <add key="dcnX86ProgramPath" value=""/>
    <add key="dcnStdVersionPath" value=""/>
  </appSettings>
</configuration>